body {
  font-family: Helvetica;
  margin: 25px;
}

button:first-child {
  margin-right: 10px;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0px;
}

.resources {
  text-transform: capitalize;
}
