body {
  font-family: Helvetica;
  margin: 25px;
}

.content {
  display: flex;

  .subcontent {
    width: 50%;
  }
}

button:first-child {
  margin-right: 10px;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0px;
}

.resources {
  text-transform: capitalize;
}

.users {
  padding: 34px 0px;
}
